.home-head{
    background: url(https://oleouz.netlify.app/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fimg.e819e8c1.png&w=3840&q=75) no-repeat;
    background-size: 100% 90%;
    width: 100%;
    height: 100%;
}
.home-head-img-2{
    margin-top: 18%;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;

}
.home-head-text img{
    margin-top: -41%;
    margin-left: -8%;
    width: 60%;
    height: 40%;
}
.home-head-text-2{
    margin-top: -18%;
    margin-right: 15rem;
}
.home-head-text-2 h3{
    font-weight: 500;
    line-height: 1.1;
    font-size: 2rem;
    color: #e6363f;
}
.home-head-text-2 p{
    font-weight: 400;
    line-height: 1.5;
    font-size: 1rem;
    color: #e6363f;
    margin-bottom: 2rem;
}
.home-head-text-button{
    display: flex;
}
.home-head-text{
    display: flex;
}
.home-head-text-button .btn_1{
    border-radius: 20px;
    padding: 6px 22px;
    background-color: #e6363f;
    color: #FFF;
    border: 1px solid #FFC107;
    margin-right: 30px;
}

.home-head-text-button .btn_1:hover{
    background-color: #FFC107;
    color: #e6363f;
    border: 1px solid #e6363f;
}
.home-head-text-button .btn_2{
    border-radius: 20px;
    padding: 6px 22px;
    background-color: #FFC107;
    color: #000;
    border: 1px solid #e6363f;
}

.home-head-text-button .btn_2:hover{
    background-color: #e6363f;
    color: #FFC107;
    border: 1px solid #e6363f;
}
@media screen and (max-width: 1200px) {
    .home-head-text-2 h3{
        font-size: 1.5rem;
    }
    .home-head-text-2 p{
        font-size: 0.8rem;
    }
    
}
@media screen and (max-width: 992px) {
    .home-head-text-2 h3{
        font-size: 1.1rem;
    }
    .home-head-text-2 p{
        font-size: 0.5rem;
    }   
    .home-head{
        background-size: 100% 100%;
    }
    .home-head-img-2{
        margin-top: 65%;
        width: 100%;
        height: 100%;
        background-size: 100% 80%;
    
    }
    .home-head-text img{
        margin-top: -71%;
        margin-left: 15%;
        width: 70%;
        height: 50%;
    }
    .home-head-text-2{
        margin-top: -20%;
        margin-left: 21rem;
    }
    .home-head-text{
        display: block;
        align-items: center;
        justify-content: center;
    }
}


.home-3{
    background-color: #FFC107;
    max-width: 2251px;
    width: 100%;
    height: 100%;
    color: #e6363f;
}
.home-3-info-text{
    margin-top: 2rem;
    width:60%;
}
.home-3-info-text p{
    margin: 1.5rem 0;
}
.home-3-main{
    display: flex;
    justify-content: space-between;
    padding:6rem 0;
}
.info-text-move{
    width: 70%;
    margin-bottom: 5rem;
}
.info-text-move svg{
    margin-left: -1rem;
}
.info-text-move h5{
    margin-top: 1rem;
    margin-left: -1rem;
}
.home-3-info-box{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    overflow-x: scroll;
    width: 100%;
}
.info-box{
    position: absolute;
    margin-top: 3rem;
    background-color: #d72a33;
    text-align: center;
    justify-content: center;
    width: 260px;
    margin-right: 20px;
    border-radius: 20px;
    height: 345px;
    color: #fff;
}
.info-box img{
    width: 100%;
}
.info-box-text{
    position: relative;

}
.info-box h5{
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.home-4{
    background: url("../Home-head/image/Frame\ \(1\).png") no-repeat;
    background-size: 100% 100%;
    padding: 25rem;
    width: 100%;    
    height: 100%;
}